header {
    background: url("bg.jpg");
    padding: 20px 0;
}

body {
    background-color: darkred;
}

.logo {
    margin: 0 auto;
    position: relative;
    width: 10%;
}

footer {
    background: url('bg1.jpg');
    text-align: center;
    padding: 40px 0;
}

.banner {
    width: 100%;
}

.copyrigth {
    color: #FFFF;
    font-size: 14px;
    margin: 20px 0 0;
}

label {
    color: #FFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

form,
.input-padrao {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    padding: 10px 25px;
    text-align: center;
}

textarea {
    font-size: 14px;
}

.enviar {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    padding: 15px 0;
    text-align: center;
    transition: 1s all;
    width: 40%;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}

#mensagem-criptografada{
    margin-bottom: 80px;
}